# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# TypeScript
dist/
out/
build/
.tscache/

# Output Reports
report.txt
*.log

# OS Files
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.development
.env.test
.env.production
